<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
            <param 
                name="ConversionPattern" 
                value="%d{HH:mm:ss:SSS} | %t | %m%n"/>
		</layout>      
	</appender>
	
	<category name="org.apache">
		<priority value="error" />
	</category>
	
	<category name="org.springframework">
		<priority value="error" />
	</category>
	
	<category name="ws.cogito">
		<priority value="debug" />
	</category>

	<root>
	   	<priority value="error" />
    	<appender-ref ref="stdout"/>
  	</root>

</log4j:configuration>